:root {
  --num-rows: 26;
  --shadow-color: rgb(38, 147, 255, 1);
  --shadow-color-no-alpha: rgb(38, 147, 255, 0);
}

@font-face {
  font-family: NotoSansSC;
  src: url("../assets/fonts/NotoSansSC-Light.otf");
}

html,
body {
  box-sizing: border-box;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  font-family: NotoSansSC;
  font: NotoSansSC;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #e7e3f1;
}

::-moz-selection {
  background: #e7e3f1;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(var(--num-rows), calc(100% / var(--num-rows)));
  grid-template-columns: repeat(7, 14.2%);
}

.header {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  grid-row-start: 1;
  grid-row-end: span 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "NotoSansSC", sans-serif;
}

.day {
  margin-bottom: 10px;
  font-size: 26px;
  color: #999;
  font-weight: initial;
}

.cell:not(.disabled):hover {
  background-color: #f5f5f5;
}

.tile:not(.pending):hover {
  filter: brightness(110%);
}

.colorOption {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 2.5px;
}

#calendar-button {
  width: 100px;
  height: 100px;
  border: none;
  position: fixed;
  border-radius: 100px;
  bottom: 100px;
  right: 100px;
  z-index: 1000;
  cursor: pointer;
  background-color: #2693ff;
}

#calendar-button:hover {
  background-color: #4da6ff;
}

#close-button {
  width: 100px;
  height: 100px;
  border: none;
  position: fixed;
  border-radius: 100px;
  bottom: 100px;
  right: 95px;
  background-color: #2693ff;
  z-index: 1000;
  cursor: pointer;
}

#close-button:hover {
  background-color: #4da6ff;
}

#close-button.disabled {
  opacity: 50%;
}

#close-button.disabled:hover {
  background-color: #2693ff;
}

.eventFormButton {
  padding: 5px;
  border-radius: 2px;
  border: none;
  width: 50%;
  margin-right: 5px;
  display: flex;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#tile-modal {
  position: fixed;
  width: 200px;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  padding: 20px;
}

.pulse {
  box-shadow: 0 0 0 var(--shadow-color);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--shadow-color);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px var(--shadow-color-no-alpha);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 var(--shadow-color-no-alpha);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 var(--shadow-color);
    box-shadow: 0 0 0 0 var(--shadow-color);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px var(--shadow-color-no-alpha);
    box-shadow: 0 0 0 15px var(--shadow-color-no-alpha);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 var(--shadow-color-no-alpha);
    box-shadow: 0 0 0 0 var(--shadow-color-no-alpha);
  }
}
